.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.react-flow {
  flex: 1;
}

.react-flow__node {
  cursor: grab;
}

.react-flow__node.selected {
  box-shadow: 0 0 0 2px #1a192b;
}

.react-flow__handle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
